<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
		<title>The Binge Guide!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/cats/js/.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>