<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Binge Guide!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Playlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-3">
    <h2 class="text-center">
        Welcome to The Binge Guide! A Place to track and find all the shows and movies you've ever wanted to Binge!
        Please Login or Signup for an Account!
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group mt-3">
                <input class="form-control" placeholder="Email">
            </div>
            <div class="form-group mt-3">
                <input class="form-control" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-outline-primary">Signup</button>
            <button type="button" class="btn btn-outline-primary">Login</button>
        </div>
    </div>
</div>