<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Not Watched Yet</h5>
                    {{#each notWatchedYet}}
                        {{>cards/cards-block}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Currently Watching</h5>
                    {{#each currentlyWatching}}
                        {{>cards/cards-block}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Finished Watching</h5>
                    {{#each finishedWatching}}
                        {{>cards/cards-block}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/playlist.js"></script> 
