<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <h2 class="text-center bg-primary">Not Watched Yet</h2>
            <br>
            <div class="text-center">
                qweqweqweqweqwe
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <h2 class="text-center">Currently Watching</h2>
            <br>
            <div class="text-center">
                qweqweqweqweqwe
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-4 mt-3">
            <h2 class="text-center">Finished Watching</h2>
            <br>
            <div class="text-center">
                qweqweqweqweqwe
            </div>
        </div>
    </div>
</div>