<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-4">
                Find the movie or show you want to watch by entering the name into the search box below and clicking
                search!
                </h2>
                <form id="search-form">
                    <div class="form-group mt-3">
                        <input id="search-term" class="form-control" type="text" placeholder="Enter show or movie name">
                    </div>
                    <div class="text-center mb-2">
                        <button id="search-button" type="button" class="btn btn-primary">Search!</button>
                    </div>
                </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4 justify-content-center mb-4">
        <div class="col-sm-12 col-md-10 col-lg-10">
            <div class="bg-secondary">
                <div class="card text-center">
                    <img id="picture" class="card-img-top"
                        src="/public/stylesheets/platforms.png"
                        alt="Search Image">
                    <div class="card-body bg-secondary">
                        <h5 id="title" class="card-title"></h5>
                        <p id="platform" class="card-text"></p>
                        <button id="queue-button" type="button" class="btn btn-light">Add to queue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/search.js"></script>