form.signup,
form.login {
  margin-top: 50px;
}


body {
  background-image: url("background.jpg");
}

.container {
  background-color: black;
  color: white;
  border-color: white;
  border-width: 3px;
  border-style: groove;
}

.navbar {
  background-color: black;
  color: white;
}