<div class="card bg-secondary mt-2">
    <div class="card-body">
        <h5 class="card-title">Test</h5>
        <p class="card-text">Available on Test</p>
        <button type="submit" class="btn btn-default bg-light btn-sm bt-sm">Currently
            Watching
        </button>
    </div>
</div>